/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
body {
  font-family: sans-serif;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (orientation: landscape) {
  /* line 14, ../sass/style.scss */
  .main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: all .3s;
    -webkit-transition: all .3s;
    background: #e3e3e3;
  }
  /* line 24, ../sass/style.scss */
  .main.active {
    left: 80%;
  }
  /* line 28, ../sass/style.scss */
  .main.player-number-2 .player {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 36, ../sass/style.scss */
  .main.player-number-2 .player.player1 {
    left: 0;
    border-right: 1px solid #aaa;
    z-index: 5;
  }
  /* line 41, ../sass/style.scss */
  .main.player-number-2 .player.player2 {
    right: 0;
    z-index: 4;
  }
  /* line 45, ../sass/style.scss */
  .main.player-number-2 .player.player3 {
    display: none;
  }
  /* line 48, ../sass/style.scss */
  .main.player-number-2 .player.player4 {
    display: none;
  }
  /* line 54, ../sass/style.scss */
  .main.player-number-2a .player {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 62, ../sass/style.scss */
  .main.player-number-2a .player.player1 {
    left: 0;
    border-right: 1px solid #aaa;
    z-index: 5;
  }
  /* line 67, ../sass/style.scss */
  .main.player-number-2a .player.player2 {
    right: 0;
    z-index: 4;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 74, ../sass/style.scss */
  .main.player-number-2a .player.player3 {
    display: none;
  }
  /* line 77, ../sass/style.scss */
  .main.player-number-2a .player.player4 {
    display: none;
  }
  /* line 83, ../sass/style.scss */
  .main.player-number-4 .player {
    position: absolute;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 89, ../sass/style.scss */
  .main.player-number-4 .player.player1 {
    left: 0;
    top: 0;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    z-index: 5;
  }
  /* line 96, ../sass/style.scss */
  .main.player-number-4 .player.player2 {
    right: 0;
    top: 0;
    z-index: 4;
    border-bottom: 1px solid #aaa;
  }
  /* line 102, ../sass/style.scss */
  .main.player-number-4 .player.player3 {
    left: 0;
    bottom: 0;
    z-index: 3;
    border-right: 1px solid #aaa;
  }
  /* line 108, ../sass/style.scss */
  .main.player-number-4 .player.player4 {
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  /* line 116, ../sass/style.scss */
  .main.player-number-4a .player {
    position: absolute;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 122, ../sass/style.scss */
  .main.player-number-4a .player.player1 {
    left: 0;
    top: 0;
    border-right: 1px solid #aaa;
    z-index: 5;
  }
  /* line 128, ../sass/style.scss */
  .main.player-number-4a .player.player2 {
    left: 25%;
    top: 0;
    z-index: 4;
    border-right: 1px solid #aaa;
  }
  /* line 134, ../sass/style.scss */
  .main.player-number-4a .player.player3 {
    left: 50%;
    top: 0;
    z-index: 3;
    border-right: 1px solid #aaa;
  }
  /* line 140, ../sass/style.scss */
  .main.player-number-4a .player.player4 {
    right: 0;
    top: 0;
    z-index: 2;
  }
  /* line 148, ../sass/style.scss */
  .main.player-number-4b .player {
    position: absolute;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 154, ../sass/style.scss */
  .main.player-number-4b .player.player1 {
    left: 0;
    top: 0;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    z-index: 5;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 162, ../sass/style.scss */
  .main.player-number-4b .player.player1 .poison {
    right: auto;
    left: 5%;
  }
  /* line 167, ../sass/style.scss */
  .main.player-number-4b .player.player2 {
    right: 0;
    top: 0;
    z-index: 4;
    border-top: 1px solid #aaa;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 176, ../sass/style.scss */
  .main.player-number-4b .player.player3 {
    left: 0;
    bottom: 0;
    z-index: 3;
    border-right: 1px solid #aaa;
  }
  /* line 182, ../sass/style.scss */
  .main.player-number-4b .player.player4 {
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  /* line 186, ../sass/style.scss */
  .main.player-number-4b .player.player4 .poison {
    right: auto;
    left: 5%;
  }
  /* line 194, ../sass/style.scss */
  .main.player-number-1 .player {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 200, ../sass/style.scss */
  .main.player-number-1 .player.player1 {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
  }
  /* line 207, ../sass/style.scss */
  .main.player-number-1 .player.player3 {
    display: none;
  }
  /* line 210, ../sass/style.scss */
  .main.player-number-1 .player.player4 {
    display: none;
  }
  /* line 213, ../sass/style.scss */
  .main.player-number-1 .player.player2 {
    display: none;
  }
}
@media only screen and (orientation: portrait) {
  /* line 221, ../sass/style.scss */
  .main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: all .3s;
    -webkit-transition: all .3s;
    background: #e3e3e3;
  }
  /* line 231, ../sass/style.scss */
  .main.active {
    left: 80%;
  }
  /* line 235, ../sass/style.scss */
  .main.player-number-2 .player {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 243, ../sass/style.scss */
  .main.player-number-2 .player.player1 {
    top: 0;
    border-bottom: 1px solid #aaa;
    z-index: 5;
  }
  /* line 248, ../sass/style.scss */
  .main.player-number-2 .player.player2 {
    bottom: 0;
    z-index: 4;
  }
  /* line 252, ../sass/style.scss */
  .main.player-number-2 .player.player3 {
    display: none;
  }
  /* line 255, ../sass/style.scss */
  .main.player-number-2 .player.player4 {
    display: none;
  }
  /* line 261, ../sass/style.scss */
  .main.player-number-2a .player {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 269, ../sass/style.scss */
  .main.player-number-2a .player.player1 {
    top: 0;
    border-top: 1px solid #aaa;
    z-index: 5;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 275, ../sass/style.scss */
  .main.player-number-2a .player.player1 .poison {
    bottom: 40%;
  }
  /* line 279, ../sass/style.scss */
  .main.player-number-2a .player.player2 {
    bottom: 0;
    z-index: 4;
  }
  /* line 282, ../sass/style.scss */
  .main.player-number-2a .player.player2 .poison {
    bottom: 40%;
  }
  /* line 286, ../sass/style.scss */
  .main.player-number-2a .player.player3 {
    display: none;
  }
  /* line 289, ../sass/style.scss */
  .main.player-number-2a .player.player4 {
    display: none;
  }
  /* line 295, ../sass/style.scss */
  .main.player-number-4 .player {
    position: absolute;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 301, ../sass/style.scss */
  .main.player-number-4 .player.player1 {
    left: 0;
    top: 0;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    z-index: 5;
  }
  /* line 308, ../sass/style.scss */
  .main.player-number-4 .player.player2 {
    right: 0;
    top: 0;
    z-index: 4;
    border-bottom: 1px solid #aaa;
  }
  /* line 314, ../sass/style.scss */
  .main.player-number-4 .player.player3 {
    left: 0;
    bottom: 0;
    z-index: 3;
    border-right: 1px solid #aaa;
  }
  /* line 320, ../sass/style.scss */
  .main.player-number-4 .player.player4 {
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  /* line 328, ../sass/style.scss */
  .main.player-number-4a .player {
    position: absolute;
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 334, ../sass/style.scss */
  .main.player-number-4a .player.player1 {
    left: 0;
    top: 0;
    z-index: 5;
    border-bottom: 1px solid #aaa;
  }
  /* line 340, ../sass/style.scss */
  .main.player-number-4a .player.player2 {
    left: 0;
    top: 25%;
    z-index: 4;
    border-bottom: 1px solid #aaa;
  }
  /* line 346, ../sass/style.scss */
  .main.player-number-4a .player.player3 {
    left: 0;
    top: 50%;
    border-bottom: 1px solid #aaa;
    z-index: 3;
  }
  /* line 352, ../sass/style.scss */
  .main.player-number-4a .player.player4 {
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  /* line 360, ../sass/style.scss */
  .main.player-number-4b .player {
    position: absolute;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 366, ../sass/style.scss */
  .main.player-number-4b .player.player3 {
    left: 0;
    top: 0;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    z-index: 5;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 374, ../sass/style.scss */
  .main.player-number-4b .player.player3 .poison {
    right: auto;
    left: 5%;
  }
  /* line 379, ../sass/style.scss */
  .main.player-number-4b .player.player1 {
    right: 0;
    top: 0;
    z-index: 4;
    border-top: 1px solid #aaa;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 387, ../sass/style.scss */
  .main.player-number-4b .player.player4 {
    left: 0;
    bottom: 0;
    z-index: 3;
    border-right: 1px solid #aaa;
  }
  /* line 393, ../sass/style.scss */
  .main.player-number-4b .player.player2 {
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  /* line 397, ../sass/style.scss */
  .main.player-number-4b .player.player2 .poison {
    right: auto;
    left: 5%;
  }
  /* line 405, ../sass/style.scss */
  .main.player-number-1 .player {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 411, ../sass/style.scss */
  .main.player-number-1 .player.player1 {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
  }
  /* line 418, ../sass/style.scss */
  .main.player-number-1 .player.player3 {
    display: none;
  }
  /* line 421, ../sass/style.scss */
  .main.player-number-1 .player.player4 {
    display: none;
  }
  /* line 424, ../sass/style.scss */
  .main.player-number-1 .player.player2 {
    display: none;
  }
}
/* line 432, ../sass/style.scss */
.life-block {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* line 437, ../sass/style.scss */
.life-block .name {
  opacity: 0;
  text-align: center;
  z-index: 1;
  font-family: Helvetica;
}
/* line 443, ../sass/style.scss */
.life-block .life {
  font-weight: bold;
  text-align: center;
  font-family: Helvetica;
  font-size: 240px;
  line-height: 1;
  z-index: 3;
}
/* line 451, ../sass/style.scss */
.life-block .diff {
  text-align: center;
  z-index: 1;
  font-family: Helvetica;
  opacity: 0;
}

/* line 459, ../sass/style.scss */
.poison {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica;
  position: absolute;
  bottom: 10%;
  right: 5%;
  line-height: 1;
  padding: 0 10px;
  z-index: 12;
  border: 1px solid #eee;
}
/* line 473, ../sass/style.scss */
.poison:before {
  content: '**';
  color: transparent;
  background: url(../img/phyrexia.png) no-repeat;
  background-position: center;
  background-size: contain;
}

/* line 482, ../sass/style.scss */
.upperside {
  display: block;
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  cursor: n-resize;
  z-index: 10;
}
/* line 491, ../sass/style.scss */
.upperside .guide {
  display: block;
  position: absolute;
  top: 5%;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
}

/* line 502, ../sass/style.scss */
.lowerside {
  display: block;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: s-resize;
  z-index: 10;
}
/* line 511, ../sass/style.scss */
.lowerside .guide {
  display: block;
  position: absolute;
  bottom: 5%;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
}

/* line 522, ../sass/style.scss */
.menu {
  position: absolute;
  z-index: 30;
  width: 100%;
}
/* line 526, ../sass/style.scss */
.menu .reload {
  position: absolute;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  right: 0;
  top: 0;
  padding: 10px;
  font-size: 30px;
  color: #444;
  cursor: pointer;
}
/* line 537, ../sass/style.scss */
.menu .settings {
  position: absolute;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  left: 0;
  top: 0;
  padding: 10px;
  font-size: 30px;
  color: #444;
  cursor: pointer;
}

/* line 550, ../sass/style.scss */
.notice {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  padding: 10px 5px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin-top: -160px;
  width: 310px;
  color: #666;
  transform-origin: 16px 16px;
  -webkit-transform-origin: 16px 16px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

/* line 568, ../sass/style.scss */
.settings-block {
  background: rgba(0, 0, 0, 0.9);
  width: 80%;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 999;
  color: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
}
/* line 579, ../sass/style.scss */
.settings-block.active {
  left: 0;
}
/* line 582, ../sass/style.scss */
.settings-block .setting-form {
  overflow: scroll;
  box-sizing: border-box;
}
/* line 586, ../sass/style.scss */
.settings-block .setting-form .reload-group {
  padding: 10px 0;
  border-bottom: 1px solid #777;
}
/* line 589, ../sass/style.scss */
.settings-block .setting-form .reload-group .reload {
  border: 1px solid #930;
  background: #c30;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}
/* line 601, ../sass/style.scss */
.settings-block .setting-form .reload-group .setting-reflesh {
  border: 1px solid #777;
  background: #eee;
  color: #000;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}
/* line 613, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-title {
  font-weight: bold;
  padding: 10px 10px 10px;
}
/* line 617, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input {
  padding: 0;
}
/* line 619, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
/* line 623, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  margin: 0 10px 10px;
}
/* line 627, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li span {
  display: block;
  border: 1px solid #ddd;
  color: #ddd;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
/* line 635, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li span .fa {
  display: none;
}
/* line 639, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  display: block;
  margin: 0;
  border: 1px solid #ddd;
  color: #ddd;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  background: transparent;
  font-size: 16px;
}
/* line 656, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li.active span {
  border: 1px solid #fff;
  background: #eee;
  color: #000;
}
/* line 660, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li.active span .fa {
  display: inline-block;
}
/* line 669, ../sass/style.scss */
.settings-block .setting-form .version {
  padding: 10px;
}

/* line 674, ../sass/style.scss */
.settings-bg {
  display: none;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 500;
}

/* line 686, ../sass/style.scss */
.fa-spin-fast {
  -webkit-animation: fa-spin .3s linear;
  animation: fa-spin .3s linear;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

/* line 692, ../sass/style.scss */
.fa-jump {
  -webkit-animation: fa-jump 0.2s infinite steps(4);
  animation: fa-jump 0.2s infinite steps(4);
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
}

@-webkit-keyframes fa-jump {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fa-jump {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
