/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
body {
  background: #222;
  font-family: sans-serif;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (orientation: landscape) {
  /* line 15, ../sass/style.scss */
  .main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: all .3s;
    -webkit-transition: all .3s;
    background: #e3e3e3;
  }
  /* line 25, ../sass/style.scss */
  .main.active {
    left: 80%;
  }
  /* line 29, ../sass/style.scss */
  .main.player-number-2 .player {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 37, ../sass/style.scss */
  .main.player-number-2 .player.player1 {
    left: 0;
    border-right: 1px solid #aaa;
    z-index: 5;
  }
  /* line 42, ../sass/style.scss */
  .main.player-number-2 .player.player2 {
    right: 0;
    z-index: 4;
  }
  /* line 46, ../sass/style.scss */
  .main.player-number-2 .player.player3 {
    display: none;
  }
  /* line 49, ../sass/style.scss */
  .main.player-number-2 .player.player4 {
    display: none;
  }
  /* line 55, ../sass/style.scss */
  .main.player-number-2a .player {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 63, ../sass/style.scss */
  .main.player-number-2a .player.player1 {
    left: 0;
    border-right: 1px solid #aaa;
    z-index: 5;
  }
  /* line 68, ../sass/style.scss */
  .main.player-number-2a .player.player2 {
    right: 0;
    z-index: 4;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 75, ../sass/style.scss */
  .main.player-number-2a .player.player3 {
    display: none;
  }
  /* line 78, ../sass/style.scss */
  .main.player-number-2a .player.player4 {
    display: none;
  }
  /* line 84, ../sass/style.scss */
  .main.player-number-4 .player {
    position: absolute;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 90, ../sass/style.scss */
  .main.player-number-4 .player.player1 {
    left: 0;
    top: 0;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    z-index: 5;
  }
  /* line 97, ../sass/style.scss */
  .main.player-number-4 .player.player2 {
    right: 0;
    top: 0;
    z-index: 4;
    border-bottom: 1px solid #aaa;
  }
  /* line 103, ../sass/style.scss */
  .main.player-number-4 .player.player3 {
    left: 0;
    bottom: 0;
    z-index: 3;
    border-right: 1px solid #aaa;
  }
  /* line 109, ../sass/style.scss */
  .main.player-number-4 .player.player4 {
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  /* line 117, ../sass/style.scss */
  .main.player-number-4a .player {
    position: absolute;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 123, ../sass/style.scss */
  .main.player-number-4a .player.player1 {
    left: 0;
    top: 0;
    border-right: 1px solid #aaa;
    z-index: 5;
  }
  /* line 129, ../sass/style.scss */
  .main.player-number-4a .player.player2 {
    left: 25%;
    top: 0;
    z-index: 4;
    border-right: 1px solid #aaa;
  }
  /* line 135, ../sass/style.scss */
  .main.player-number-4a .player.player3 {
    left: 50%;
    top: 0;
    z-index: 3;
    border-right: 1px solid #aaa;
  }
  /* line 141, ../sass/style.scss */
  .main.player-number-4a .player.player4 {
    right: 0;
    top: 0;
    z-index: 2;
  }
  /* line 149, ../sass/style.scss */
  .main.player-number-4b .player {
    position: absolute;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 155, ../sass/style.scss */
  .main.player-number-4b .player.player1 {
    left: 0;
    top: 0;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    z-index: 5;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 163, ../sass/style.scss */
  .main.player-number-4b .player.player1 .poison {
    right: auto;
    left: 5%;
  }
  /* line 168, ../sass/style.scss */
  .main.player-number-4b .player.player2 {
    right: 0;
    top: 0;
    z-index: 4;
    border-top: 1px solid #aaa;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 177, ../sass/style.scss */
  .main.player-number-4b .player.player3 {
    left: 0;
    bottom: 0;
    z-index: 3;
    border-right: 1px solid #aaa;
  }
  /* line 183, ../sass/style.scss */
  .main.player-number-4b .player.player4 {
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  /* line 187, ../sass/style.scss */
  .main.player-number-4b .player.player4 .poison {
    right: auto;
    left: 5%;
  }
  /* line 195, ../sass/style.scss */
  .main.player-number-1 .player {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 201, ../sass/style.scss */
  .main.player-number-1 .player.player1 {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
  }
  /* line 208, ../sass/style.scss */
  .main.player-number-1 .player.player3 {
    display: none;
  }
  /* line 211, ../sass/style.scss */
  .main.player-number-1 .player.player4 {
    display: none;
  }
  /* line 214, ../sass/style.scss */
  .main.player-number-1 .player.player2 {
    display: none;
  }
}
@media only screen and (orientation: portrait) {
  /* line 222, ../sass/style.scss */
  .main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: all .3s;
    -webkit-transition: all .3s;
    background: #e3e3e3;
  }
  /* line 232, ../sass/style.scss */
  .main.active {
    left: 80%;
  }
  /* line 236, ../sass/style.scss */
  .main.player-number-2 .player {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 244, ../sass/style.scss */
  .main.player-number-2 .player.player1 {
    top: 0;
    border-bottom: 1px solid #aaa;
    z-index: 5;
  }
  /* line 249, ../sass/style.scss */
  .main.player-number-2 .player.player2 {
    bottom: 0;
    z-index: 4;
  }
  /* line 253, ../sass/style.scss */
  .main.player-number-2 .player.player3 {
    display: none;
  }
  /* line 256, ../sass/style.scss */
  .main.player-number-2 .player.player4 {
    display: none;
  }
  /* line 262, ../sass/style.scss */
  .main.player-number-2a .player {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 270, ../sass/style.scss */
  .main.player-number-2a .player.player1 {
    top: 0;
    border-top: 1px solid #aaa;
    z-index: 5;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 276, ../sass/style.scss */
  .main.player-number-2a .player.player1 .poison {
    bottom: 40%;
  }
  /* line 280, ../sass/style.scss */
  .main.player-number-2a .player.player2 {
    bottom: 0;
    z-index: 4;
  }
  /* line 283, ../sass/style.scss */
  .main.player-number-2a .player.player2 .poison {
    bottom: 40%;
  }
  /* line 287, ../sass/style.scss */
  .main.player-number-2a .player.player3 {
    display: none;
  }
  /* line 290, ../sass/style.scss */
  .main.player-number-2a .player.player4 {
    display: none;
  }
  /* line 296, ../sass/style.scss */
  .main.player-number-4 .player {
    position: absolute;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 302, ../sass/style.scss */
  .main.player-number-4 .player.player1 {
    left: 0;
    top: 0;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    z-index: 5;
  }
  /* line 309, ../sass/style.scss */
  .main.player-number-4 .player.player2 {
    right: 0;
    top: 0;
    z-index: 4;
    border-bottom: 1px solid #aaa;
  }
  /* line 315, ../sass/style.scss */
  .main.player-number-4 .player.player3 {
    left: 0;
    bottom: 0;
    z-index: 3;
    border-right: 1px solid #aaa;
  }
  /* line 321, ../sass/style.scss */
  .main.player-number-4 .player.player4 {
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  /* line 329, ../sass/style.scss */
  .main.player-number-4a .player {
    position: absolute;
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 335, ../sass/style.scss */
  .main.player-number-4a .player.player1 {
    left: 0;
    top: 0;
    z-index: 5;
    border-bottom: 1px solid #aaa;
  }
  /* line 341, ../sass/style.scss */
  .main.player-number-4a .player.player2 {
    left: 0;
    top: 25%;
    z-index: 4;
    border-bottom: 1px solid #aaa;
  }
  /* line 347, ../sass/style.scss */
  .main.player-number-4a .player.player3 {
    left: 0;
    top: 50%;
    border-bottom: 1px solid #aaa;
    z-index: 3;
  }
  /* line 353, ../sass/style.scss */
  .main.player-number-4a .player.player4 {
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  /* line 361, ../sass/style.scss */
  .main.player-number-4b .player {
    position: absolute;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 367, ../sass/style.scss */
  .main.player-number-4b .player.player3 {
    left: 0;
    top: 0;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    z-index: 5;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 375, ../sass/style.scss */
  .main.player-number-4b .player.player3 .poison {
    right: auto;
    left: 5%;
  }
  /* line 380, ../sass/style.scss */
  .main.player-number-4b .player.player1 {
    right: 0;
    top: 0;
    z-index: 4;
    border-top: 1px solid #aaa;
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
  /* line 388, ../sass/style.scss */
  .main.player-number-4b .player.player4 {
    left: 0;
    bottom: 0;
    z-index: 3;
    border-right: 1px solid #aaa;
  }
  /* line 394, ../sass/style.scss */
  .main.player-number-4b .player.player2 {
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  /* line 398, ../sass/style.scss */
  .main.player-number-4b .player.player2 .poison {
    right: auto;
    left: 5%;
  }
  /* line 406, ../sass/style.scss */
  .main.player-number-1 .player {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  /* line 412, ../sass/style.scss */
  .main.player-number-1 .player.player1 {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
  }
  /* line 419, ../sass/style.scss */
  .main.player-number-1 .player.player3 {
    display: none;
  }
  /* line 422, ../sass/style.scss */
  .main.player-number-1 .player.player4 {
    display: none;
  }
  /* line 425, ../sass/style.scss */
  .main.player-number-1 .player.player2 {
    display: none;
  }
}
/* line 433, ../sass/style.scss */
.life-block {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* line 438, ../sass/style.scss */
.life-block .name {
  opacity: 0;
  text-align: center;
  z-index: 1;
  font-family: Helvetica;
}
/* line 444, ../sass/style.scss */
.life-block .life {
  font-weight: bold;
  text-align: center;
  font-family: Helvetica;
  font-size: 240px;
  line-height: 1;
  z-index: 3;
}
/* line 452, ../sass/style.scss */
.life-block .diff {
  text-align: center;
  z-index: 1;
  font-family: Helvetica;
  opacity: 0;
}

/* line 460, ../sass/style.scss */
.poison {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica;
  position: absolute;
  bottom: 10%;
  right: 5%;
  line-height: 1;
  padding: 0 10px;
  z-index: 12;
  border: 1px solid #eee;
}
/* line 474, ../sass/style.scss */
.poison:before {
  content: '**';
  color: transparent;
  background: url(../img/phyrexia.png) no-repeat;
  background-position: center;
  background-size: contain;
}

/* line 483, ../sass/style.scss */
.upperside {
  display: block;
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  cursor: n-resize;
  z-index: 10;
}
/* line 492, ../sass/style.scss */
.upperside .guide {
  display: block;
  position: absolute;
  top: 5%;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
}

/* line 503, ../sass/style.scss */
.lowerside {
  display: block;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: s-resize;
  z-index: 10;
}
/* line 512, ../sass/style.scss */
.lowerside .guide {
  display: block;
  position: absolute;
  bottom: 5%;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
}

/* line 523, ../sass/style.scss */
.menu {
  position: absolute;
  z-index: 30;
  width: 100%;
}
/* line 527, ../sass/style.scss */
.menu .reload {
  position: absolute;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  right: 0;
  top: 0;
  padding: 10px;
  font-size: 30px;
  color: #444;
  cursor: pointer;
}
/* line 538, ../sass/style.scss */
.menu .settings {
  position: absolute;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  left: 0;
  top: 0;
  padding: 10px;
  font-size: 30px;
  color: #444;
  cursor: pointer;
}

/* line 551, ../sass/style.scss */
.notice {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  padding: 10px 5px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin-top: -160px;
  width: 310px;
  color: #666;
  transform-origin: 16px 16px;
  -webkit-transform-origin: 16px 16px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

/* line 569, ../sass/style.scss */
.settings-block {
  background: #222;
  width: 80%;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 999;
  color: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
}
/* line 580, ../sass/style.scss */
.settings-block.active {
  left: 0;
}
/* line 583, ../sass/style.scss */
.settings-block .setting-form {
  overflow: scroll;
  box-sizing: border-box;
}
/* line 587, ../sass/style.scss */
.settings-block .setting-form .reload-group {
  padding: 10px 0;
  border-bottom: 1px solid #777;
}
/* line 590, ../sass/style.scss */
.settings-block .setting-form .reload-group .reload {
  border: 1px solid #930;
  background: #c30;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}
/* line 602, ../sass/style.scss */
.settings-block .setting-form .reload-group .setting-reflesh {
  border: 1px solid #777;
  background: #eee;
  color: #000;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}
/* line 614, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-title {
  font-weight: bold;
  padding: 10px 10px 10px;
}
/* line 618, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input {
  padding: 0;
}
/* line 620, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
/* line 624, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  margin: 0 10px 10px;
}
/* line 628, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li span {
  display: block;
  border: 1px solid #ddd;
  color: #ddd;
  padding: 10px 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
/* line 636, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li span .fa {
  display: none;
}
/* line 640, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  display: block;
  margin: 0;
  border: 1px solid #ddd;
  color: #ddd;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  background: transparent;
  font-size: 16px;
}
/* line 657, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li.active span {
  border: 1px solid #fff;
  background: #eee;
  color: #000;
}
/* line 661, ../sass/style.scss */
.settings-block .setting-form .setting-group .setting-input ul li.active span .fa {
  display: inline-block;
}
/* line 670, ../sass/style.scss */
.settings-block .setting-form .version {
  padding: 10px;
}

/* line 675, ../sass/style.scss */
.settings-bg {
  display: none;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 500;
}

/* line 687, ../sass/style.scss */
.fa-spin-fast {
  -webkit-animation: fa-spin .3s linear;
  animation: fa-spin .3s linear;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

/* line 693, ../sass/style.scss */
.fa-jump {
  -webkit-animation: fa-jump 0.2s infinite steps(4);
  animation: fa-jump 0.2s infinite steps(4);
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
}

@-webkit-keyframes fa-jump {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fa-jump {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
