/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body{
	background: #222;
	font-family: sans-serif;
	-webkit-user-select:none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
@media only screen and (orientation : landscape) {
	.main{
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		transition: all .3s;
		-webkit-transition: all .3s;
		background: #e3e3e3;
		&.active{
			left: 80%;
		}
		&.player-number-2{
			.player{
				position: absolute;
				width: 50%;
				height: 100%;
				top: 0;
				bottom: 0;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					left: 0;
					border-right: 1px solid #aaa;
					z-index:5;
				}
				&.player2{
					right: 0;
					z-index:4;
				}
				&.player3{
					display: none;
				}
				&.player4{
					display: none;
				}
			}
		}
		&.player-number-2a{
			.player{
				position: absolute;
				width: 50%;
				height: 100%;
				top: 0;
				bottom: 0;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					left: 0;
					border-right: 1px solid #aaa;
					z-index:5;
				}
				&.player2{
					right: 0;
					z-index:4;
					transform: rotate3d(0,0,1,180deg);
					-webkit-transform: rotate3d(0,0,1,180deg);

				}
				&.player3{
					display: none;
				}
				&.player4{
					display: none;
				}
			}
		}
		&.player-number-4{
			.player{
				position: absolute;
				width: 50%;
				height: 50%;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					left: 0;
					top:0;
					border-right: 1px solid #aaa;
					border-bottom: 1px solid #aaa;
					z-index:5;
				}
				&.player2{
					right: 0;
					top: 0;
					z-index:4;
					border-bottom: 1px solid #aaa;
				}
				&.player3{
					left: 0;
					bottom:0;
					z-index:3;
					border-right: 1px solid #aaa;
				}
				&.player4{
					right: 0;
					bottom: 0;
					z-index:2;
				}
			}
		}
		&.player-number-4a{
			.player{
				position: absolute;
				width: 25%;
				height: 100%;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					left: 0;
					top:0;
					border-right: 1px solid #aaa;
					z-index:5;
				}
				&.player2{
					left: 25%;
					top: 0;
					z-index:4;
					border-right: 1px solid #aaa;
				}
				&.player3{
					left: 50%;
					top:0;
					z-index:3;
					border-right: 1px solid #aaa;
				}
				&.player4{
					right: 0;
					top: 0;
					z-index:2;
				}
			}
		}
		&.player-number-4b{
			.player{
				position: absolute;
				width: 50%;
				height: 50%;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					left: 0;
					top:0;
					border-left: 1px solid #aaa;
					border-top: 1px solid #aaa;
					z-index:5;
					transform: rotate3d(0,0,1,180deg);
					-webkit-transform: rotate3d(0,0,1,180deg);
					.poison{
						right: auto;
						left: 5%;
					}
				}
				&.player2{
					right: 0;
					top: 0;
					z-index:4;
					border-top: 1px solid #aaa;
					transform: rotate3d(0,0,1,180deg);
					-webkit-transform: rotate3d(0,0,1,180deg);

				}
				&.player3{
					left: 0;
					bottom:0;
					z-index:3;
					border-right: 1px solid #aaa;
				}
				&.player4{
					right: 0;
					bottom: 0;
					z-index:2;
					.poison{
						right: auto;
						left: 5%;
					}
				}
			}
		}
		&.player-number-4c{
			.player{
				position: absolute;
				height: 50%;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					width: 30%;
					height: 100%;
					left: 0;
					top:0;
					border-right: 1px solid #aaa;
					z-index:5;
				}
				&.player2{
					width: 40%;
					left: 30%;
					top: 0;
					z-index:4;
				}
				&.player3{
					width: 40%;
					left: 30%;
					bottom:0;
					z-index:3;
					border-top: 1px solid #aaa;
				}
				&.player4{
					width: 30%;
					height: 100%;
					right: 0;
					bottom: 0;
					border-left: 1px solid #aaa;
					z-index:2;
				}
			}
		}
		&.player-number-1{
			.player{
				position: absolute;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					right: 0;
					top: 0;
					left: 0;
					bottom: 0;
					z-index: 3;
				}
				&.player3{
					display: none;
				}
				&.player4{
					display: none;
				}
				&.player2{
					display: none;
				}
			}
		}
	}
}
@media only screen and (orientation : portrait) {
	.main{
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		transition: all .3s;
		-webkit-transition: all .3s;
		background: #e3e3e3;
		&.active{
			left: 80%;
		}
		&.player-number-2{
			.player{
				position: absolute;
				width: 100%;
				height: 50%;
				left: 0;
				right: 0;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					top: 0;
					border-bottom: 1px solid #aaa;
					z-index:5;
				}
				&.player2{
					bottom: 0;
					z-index:4;
				}
				&.player3{
					display: none;
				}
				&.player4{
					display: none;
				}
			}
		}
		&.player-number-2a{
			.player{
				position: absolute;
				width: 100%;
				height: 50%;
				left: 0;
				right: 0;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					top: 0;
					border-top: 1px solid #aaa;
					z-index:5;
					transform: rotate3d(0,0,1,180deg);
					-webkit-transform: rotate3d(0,0,1,180deg);
					.poison{
						bottom: 40%;
					}
				}
				&.player2{
					bottom: 0;
					z-index:4;
					.poison{
						bottom: 40%;
					}
				}
				&.player3{
					display: none;
				}
				&.player4{
					display: none;
				}
			}
		}
		&.player-number-4{
			.player{
				position: absolute;
				width: 50%;
				height: 50%;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					left: 0;
					top:0;
					border-right: 1px solid #aaa;
					border-bottom: 1px solid #aaa;
					z-index:5;
				}
				&.player2{
					right: 0;
					top: 0;
					z-index:4;
					border-bottom: 1px solid #aaa;
				}
				&.player3{
					left: 0;
					bottom:0;
					z-index:3;
					border-right: 1px solid #aaa;
				}
				&.player4{
					right: 0;
					bottom: 0;
					z-index:2;
				}
			}
		}
		&.player-number-4a{
			.player{
				position: absolute;
				width: 100%;
				height: 25%;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					left: 0;
					top: 0;
					z-index:5;
					border-bottom: 1px solid #aaa;
				}
				&.player2{
					left: 0;
					top: 25%;
					z-index:4;
					border-bottom: 1px solid #aaa;
				}
				&.player3{
					left: 0;
					top:50% ;
					border-bottom: 1px solid #aaa;
					z-index:3;
				}
				&.player4{
					left: 0;
					bottom:0;
					z-index:2;
				}
			}
		}
		&.player-number-4b{
			.player{
				position: absolute;
				width: 50%;
				height: 50%;
				box-sizing: border-box;
				overflow: hidden;
				&.player3{
					left: 0;
					top:0;
					border-left: 1px solid #aaa;
					border-top: 1px solid #aaa;
					z-index:5;
					transform: rotate3d(0,0,1,180deg);
					-webkit-transform: rotate3d(0,0,1,180deg);
					.poison{
						right: auto;
						left: 5%;
					}
				}
				&.player1{
					right: 0;
					top: 0;
					z-index:4;
					border-top: 1px solid #aaa;
					transform: rotate3d(0,0,1,180deg);
					-webkit-transform: rotate3d(0,0,1,180deg);
				}
				&.player4{
					left: 0;
					bottom:0;
					z-index:3;
					border-right: 1px solid #aaa;
				}
				&.player2{
					right: 0;
					bottom: 0;
					z-index:2;
					.poison{
						right: auto;
						left: 5%;
					}
				}
			}
		}
		&.player-number-4c{
			.player{
				position: absolute;
				width: 100%;
				box-sizing: border-box;
				overflow: hidden;
				&.player2{
					height: 30%;
					left: 0;
					top: 0;
					z-index:5;
					border-bottom: 1px solid #aaa;
				}
				&.player1{
					right: 0;
					width: 50%;
					height: 40%;
					top: 30%;
					z-index:4;
					border-left: 1px solid #aaa;
				}
				&.player3{
					left: 0;
					width: 50%;
					height: 40%;
					top: 30%;
					z-index:3;
				}
				&.player4{
					height: 30%;
					border-top: 1px solid #aaa;
					left: 0;
					bottom:0;
					z-index:2;
				}
			}
		}
		&.player-number-1{
			.player{
				position: absolute;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				overflow: hidden;
				&.player1{
					right: 0;
					top: 0;
					left: 0;
					bottom: 0;
					z-index:5;
				}
				&.player3{
					display: none;
				}
				&.player4{
					display: none;
				}
				&.player2{
					display: none;
				}
			}
		}
	}
}

.life-block{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	.name{
		opacity: 0;
		text-align: center;
		z-index: 1;
		font-family: Helvetica;
	}
	.life{
		font-weight: bold;
		text-align: center;
		font-family: Helvetica;
		font-size: 240px;
		line-height: 1;
		z-index: 3;
	}
	.diff{
		text-align: center;
		z-index: 1;
		font-family: Helvetica;
		opacity: 0;
	}
}

.poison{
	display: none;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-family: Helvetica;
	position: absolute;
	bottom: 10%;
	right: 5%;
	line-height: 1;
	padding: 0 10px;
	z-index: 12;
	border:1px solid #eee;
	&:before{
		content: '**';
		color: transparent;
		background: url(../img/phyrexia.png) no-repeat;
		background-position: center;
		background-size: contain;
	}
}

.upperside{
	display: block;
	position: absolute;
	top: 0;
	bottom: 50%;
	left: 0;
	right: 0;
	cursor: n-resize;
	z-index: 10;
	.guide{
		display: block;
		position: absolute;
		top: 5%;
		text-align: center;
		color: rgba(0,0,0,0.3);
		left: 0;
		right: 0;
	}
}

.lowerside{
	display: block;
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: s-resize;
	z-index: 10;
	.guide{
		display: block;
		position: absolute;
		bottom: 5%;
		text-align: center;
		color: rgba(0,0,0,0.3);
		left: 0;
		right: 0;
	}
}

.menu{
	position: absolute;
	z-index: 30;
	width: 100%;
	.reload{
		position: absolute;
		background: rgba(239,239,239,0.5);
		border-radius: 5px;
		right: 0;
		top: 0;
		padding: 10px;
		font-size: 30px;
		color: #444;
		cursor: pointer;
	}
	.settings{
		position: absolute;
		background: rgba(239,239,239,0.5);
		border-radius: 5px;
		left: 0;
		top: 0;
		padding: 10px;
		font-size: 30px;
		color: #444;
		cursor: pointer;
	}
}

.notice{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	padding: 10px 5px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	margin-top: -160px;
	width: 310px;
	color: #666;
	transform-origin: 16px 16px;
	-webkit-transform-origin: 16px 16px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.settings-block{
	background: #222;
	width: 80%;
	//height: 100%;
	position: absolute;
	left: -100%;
	top: 0;
	z-index: 999;
	color: #fff;
	transition: all .3s;
	-webkit-transition: all .3s;
	&.active{
		left: 0;
	}
	.button{
		&.hover{
			opacity: 0.7;
		}
	}
	.setting-form{
		overflow: scroll;
		//height: 100%;
		box-sizing: border-box;
		.reload-group{
			padding: 10px 0;
			border-bottom:1px solid #777;
			.reload{
				border: 1px solid #930;
				background: #c30;
				color: #fff;
				padding: 40px 0;
				text-align: center;
				border-radius: 5px;
				cursor: pointer;
				margin: 0 10px;
			}
			.setting-reflesh{
				border: 1px solid #777;
				background: #eee;
				color: #000;
				padding: 20px;
				text-align: center;
				border-radius: 5px;
				cursor: pointer;
				margin: 0 10px;
			}
		}
		.setting-group{
			.setting-title{
				font-weight: bold;
				padding: 10px 10px 10px;
			}
			.setting-input{
				padding: 0;
				ul{
					display: flex;
					display: -webkit-flex;
					flex-wrap: wrap;
					li{
						flex-grow: 1;
						-webkit-flex-grow: 1;
						margin: 0 10px 10px;
						span{
							display: block;
							border: 1px solid #ddd;
							color: #ddd;
							padding: 10px 5px;
							text-align: center;
							border-radius: 5px;
							cursor: pointer;
							.fa{
								display: none;
							}
						}
						input{
							-webkit-appearance:none;
							-moz-appearance:none;
							appearance:none;
							width: 100%;
							display: block;
							margin: 0;
							border: 1px solid #ddd;
							color: #ddd;
							padding: 5px;
							box-sizing: border-box;
							text-align: center;
							border-radius: 5px;
							background: transparent;
							font-size: 16px;
						}
						&.active{
							span{
								border: 1px solid #fff;
								background: #eee;
								color: #000;
								.fa{
									display: inline-block;
								}
							}
						}
					}
				}
			}
		}
		.version{
			padding: 10px;
		}
	}
}
.settings-bg{
	display: none;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 500;
}

.fa-spin-fast {
  -webkit-animation: fa-spin .3s linear;
  animation: fa-spin .3s linear;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}
.fa-jump{
  -webkit-animation: fa-jump .2s infinite steps(4);
  animation: fa-jump .2s infinite steps(4);
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
}
@-webkit-keyframes fa-jump {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fa-jump {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(7px);
    transform: translateX(7px);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
